img {
    width: 100%;
    height: 100%;
}

.personal-info {
    background-color: #FFCD11;
}

.links {
    width: 10%;
}

.links .fa {
    font-size: 2rem;
    padding: 0 1rem;
}

.links a {
    text-decoration: none;
}

.content {
    width: 100%;
    height: 100%;
}

.content .lead {
    font-size: 2rem;
}

.content p:nth-of-type(2n) {
    font-size: 1.2rem;
}

.Contact {
    margin-top: 1rem;
}
